{% extends "header.html" %}

{% block content %} 
  

<!--Register--> 
<div class="container py-5">
	<h1>Register</h1>
		<form action="{% url 'register' %}" method="POST">
		{% csrf_token %}
		Username: <input type="text" name="username" required/><br/>
		First Name: <input type="text" name="first_name" required/><br/>
		Last Name: <input type="text" name="last_name" required/><br/>
		Email: <input type="email" name="email" required/><br/>
		Password: <input type="password" name="password" required/><br/>
		Confirm Password: <input type="password" name="conf_password" required/><br/>
		<input type="submit" value="Register"/>
	</form>
		<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
	</div>

{% endblock %}